/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  margin: auto;
  max-width: auto;
  margin: auto;
  background-color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
   color: #444;
  }

    .box {
      background-color: #444;
      color: #fff;
      font-size: 150%;
    }
    .meny {
      display: grid;
      grid-template-columns: 3fr;
    }
    .mobilemeny{
      display: none;
      grid-template-columns: 3fr;
    }
    .a {
      display: grid;
      grid-template-columns: 3fr;
    }
    .b {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .c {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .d {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

@media (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr;
    color: #444;
  }
}
@media (max-width: 760px) {
  .meny {
    display: none;
    grid-template-columns: 3fr;
  }
  .mobilemeny{
    display: grid;
    grid-template-columns: 3fr;
  }
  
}

  h1{
    text-align: Center;
    Color: white;
    font-family: sans-serif;
    font-size: 20;
  }


    
header{
  height: 45px;
    width: 100%;
    text-align: center;
}

p{
  font-size: 16px;
  text-align: center;
}
h3{
  padding: 0;
  margin: 0px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 35px;
  
}
.link{
  color: white;
}
ul{
  padding: 0;
  margin: 0;
}

.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #444;
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 35px;
  font-family: sans-serif;
}

.nav a:hover {
  background-color: rgb(97, 97, 97);
  color: black
}



.navright {
  list-style-type: none;
  overflow: hidden;
  background-color: #444;
  float: right;
}

.navright a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 35px;
  font-family: sans-serif;
}

.navright a:hover {
  background-color: rgb(97, 97, 97);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#sticky + .content {
  padding-top: 60px;
}

.slideshow-container {
  width: 100%;
  margin: auto;
}

/* Gömmer bilderna från start */
.mySlides {
  display: none;
}
/* Visar bild 1 */
#slide1 {
  display:block
}

/* Nästa och tidigare knapp*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position på knapparna */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Hoverbakgrund på knapparna */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.topnav {
  overflow: hidden;
  background-color: #444;
  position: relative;
  width: 150px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #444;
  display: block;
  float: left;
  position: fixed;
  
}


.sitebutton{
  min-height:4vh;
  max-height: 5vh;
  width: auto;
  background:#0f7986;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  border-radius: 5px;
  font-size: 3vh;
  
  }